/* styles/globals.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

h1 {
  color: rgb(80, 61, 61);
  text-align: center;
  margin-top: 20px;
  font-size: 36px; /* Increased font size */
}

/* Define a common container class for all pages */
.container {
  min-height: 100vh; /* Ensure the container takes up at least 100% of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #ffafbd, #ffc3a0); /* Gradient background */
  background-size: cover;
  background-position: center;
  color: #333; /* Text color for content */
}

/* Common navigation bar styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(3, 40, 250, 0.1);
  z-index: 1000;
}

nav a {
  margin-left: 20px;
  color: #f30e0e;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
}

nav a:hover {
  color: #380b2b;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

label {
  margin: 16px 0 8px;
  font-weight: bold;
  color: #555;
}

input, select, textarea {
  margin-bottom: 24px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input:focus, select:focus, textarea:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 112, 243, 0.3);
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005bb5;
}
